@use "../../scss/buttons";
@use "../../scss/colors";
@use "../../scss/spacing";

.Button {
  @include buttons.button-reset;

  & {
    border-radius: 0.4rem;
    padding: 0.4rem spacing.$md;
    font-weight: normal;
  }

  &:disabled {
    opacity: 0.4;
  }

  &--inline {
    font-size: 14px;
    padding: 0.3rem 0.7rem;
  }

  &--full-width {
    text-align: center;
    width: 100%;
  }
}

.Button--intent-primary {
  &.Button--variant-outline {
      background-color: #fff;
      color: colors.$primary;
      border: 1px solid currentColor;
  }

  &.Button--variant-solid {
      background-color: colors.$primary;
      color: #fff;
  }
}

.Button--intent-secondary {
  &.Button--variant-outline {
      background-color: #fff;
      color: #000;
      border: 1px solid #edf2f7;
  }

  &.Button--variant-solid {
      background-color: #edf2f7;
      color: #000;
  }
}
