@use "../../scss/cards";
@use "../../scss/categories";

.CardRadioButtons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: cards.$card-gap;
}

.CardRadioButtons-OptionLabel {
  @include categories.category-card;

  .CardRadioButtons-Option:has(:checked) & {
    @include cards.card--selected;
  }
}

.CardRadioButtons-Input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
