@use "../../scss/spacing";

.ControlLabel {
  margin-top: spacing.$md;
  margin-bottom: spacing.$sm;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ControlLabel-Label {
  font-weight: bold;
}
