@use "../../scss/colors";
@use "../../scss/text";

.LinkButton {
  cursor: pointer;
  user-select: none;
  color: colors.$primary;
  font-size: text.$font-size-sm;

  &:hover {
    text-decoration: underline;
  }
}
