@use "../../scss/spacing";

$border: 1px solid #e5e5e5;

.Modal {
  width: 800px;
  border: $border;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 0;

  &[open]::backdrop {
    background-color: #000;
    opacity: 0.5;
  }
}

.Modal--Header {
  padding: spacing.$md;
  border-bottom: $border;
}

.Modal--Body {
  padding: spacing.$md;
}

.Modal--Footer {
  border-top: $border;
  padding: spacing.$md;
}
