@use "../../scss/cards";
@use "../../scss/categories";

.CategorySelect {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: cards.$card-gap;
}

.CategorySelect-CategoryLabel {
  @include categories.category-card;

  .CategorySelect-Category:has(:checked) & {
    @include cards.card--selected;
  }
}

.CategorySelect-Input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
