@use "../../scss/cards";
@use "../../scss/spacing";
@use "../../scss/text";

.CategorySelect {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: cards.$card-gap;
}

.CategorySelect-CategoryLabel {
  @include cards.card;

  font-size: text.$font-size-sm;
  padding: 1em 0;
  text-align: center;
  width: 100%;

  .CategorySelect-Category:has(:checked) & {
    @include cards.card--selected;
  }
}

.CategorySelect-Input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
