@use "../../scss/cards";
@use "../../scss/text";

$card-height: 85px;
$card-width: 15em;

.CardView {
  @include cards.card;

  padding: 0.5em 1em;
  /**
  TODO: specify height in ems, adjust SVG accordingly?
  height: 5em;
  **/
  height: $card-height;
  width: $card-width;
  display: flex;
  flex-direction: column;

  &--selected {
    @include cards.card--selected;
  }
}

.CardView-Text {
  flex: 1 0 0;
  min-height: 0;
  overflow: hidden;
  /* How to add ellipsis? */
}

.CardView-Details {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: text.$font-size-sm;
  color: text.$color-faded;
}
