@use "../../scss/spacing";
@use "../../scss/text";

.CardDetailView-Header {
  margin: spacing.$md;
}

$event-border: 1px solid #999;

.CardDetailView-Actions,
.CardDetailView-Properties,
.CardDetailView-History {
  margin: spacing.$md;
}

.CardDetailView-History-Title {
  padding-bottom: spacing.$md;
  border-bottom: $event-border;
}

.CardDetailView-Event {
  border-bottom: $event-border;
  padding: spacing.$md 0;
}

.CardDetailView-Event-Instant {
  color: text.$color-faded;
  font-size: text.$font-size-sm;
}
