@use "../../scss/spacing";

.CardForm {
  min-width: 300px;
}

.CardForm-ControlLabel {
  margin-top: spacing.$md;
  margin-bottom: spacing.$sm;
  font-weight: bold;
}

.CardForm-Control {
  margin-top: spacing.$sm;
  margin-bottom: spacing.$md;
}
