@use "../../scss/spacing";
@use "../../scss/text";

.CardDetailView-Header {
  border-bottom: 1px solid #666;
}

.CardDetailView-Title {
  font-size: text.$font-size-lg;
}

$event-border: 1px solid #666;

.CardDetailView-Actions,
.CardDetailView-History,
.CardDetailView-Events {
  margin: spacing.$md;
}

.CardDetailView-Events {
  margin: spacing.$md calc(0rem - spacing.$md);
  border-top: $event-border;
}

.CardDetailView-Event {
  border-bottom: $event-border;
  padding: spacing.$md;
}

.CardDetailView-Event-Instant {
  color: text.$color-faded;
  font-size: text.$font-size-sm;
}
