@use "../../scss/cards";
@use "../../scss/categories";
@use "../../scss/spacing";
@use "../../scss/text";

.CardDetailView-Header {
  margin: spacing.$md;
}

$event-border: 1px solid #999;

.CardDetailView-Actions,
.CardDetailView-Properties,
.CardDetailView-History {
  margin: spacing.$md;
}

.CardDetailView-CategoryCardContainer {
  /* Remove duplication with select */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: cards.$card-gap;
}

.CardDetailView-CategoryCard {
  @include categories.category-card;
}

.CardDetailView-History-Title {
  padding-bottom: spacing.$md;
  border-bottom: $event-border;
}

.CardDetailView-Event {
  border-bottom: $event-border;
  padding: spacing.$md 0;
}

.CardDetailView-Event-Instant {
  color: text.$color-faded;
  font-size: text.$font-size-sm;
}
