.Modal {
  width: 800px;
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 20px;

  &[open]::backdrop {
    background-color: #000;
    opacity: 0.5;
  }
}

.Modal--Header {
  margin-bottom: 1em;
}

.Modal--Body {
  margin-bottom: 1em;
}
