@use "../scss/spacing";

.TimeTravelSlider {
  background-color: #fff;
  padding: spacing.$sm spacing.$md;
  display: flex;
  flex-direction: row;
  gap: spacing.$md;

  & > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.TimeTravelSlider-Label {
  flex: 0 0 auto;
}

.TimeTravelSlider-Slider {
  flex: 1 1 auto;

  & > input {
    width: 100%;
  }
}
