@use "../scss/spacing.scss";

.AppView {
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #dcdcdc;
}

.AppView-Tools {
  background-color: #fff;
  flex: 0 0 auto;
  padding: spacing.$md;
  border-right: 1px solid black;
}

.AppView-Cards {
  flex: 1 1 0;
  min-width: 0;
}
