@use "../scss/cards";
@use "../scss/spacing";
@use "../scss/text";

.CardsView {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: spacing.$md;
}

@mixin CardsView-CardsRow {
  display: flex;
  flex-direction: column;
  /**
  TODO: specify height in ems, adjust SVG accordingly?
  gap: 1em;
  **/
  gap: cards.$card-gap;
}

.CardsView-Cards {
  min-height: 100%;
  min-width: 100%;
  @include CardsView-CardsRow;
}

.CardsView-TreeView {
  display: flex;
  flex-direction: row;

  & > * {
    flex: 0 0 auto;
  }
}

.CardsView-TreeView-Children {
  @include CardsView-CardsRow;
}
