@use "../scss/spacing";

.TopBar {
  padding: spacing.$sm spacing.$md;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TopBar-Left {
  display: flex;
  flex-direction: row;
  gap: spacing.$md;
}

.TopBar-Title {
  font-size: 1.5rem;
  font-weight: normal;
}

.TopBar-Icon {
  vertical-align: sub;
}

.TopBar-Right {
  display: flex;
  flex-direction: row;
  gap: spacing.$md;
}
