@use "../../scss/categories";
@use "../../scss/spacing";

.CategoryListView {
  border-collapse: collapse;
  margin-top: spacing.$md;
  width: 100%;

  & th, & td {
    text-align: left;
    padding: spacing.$sm;
  }

  & thead > tr > th {
    border-bottom: 1px solid #000;
  }
}

.CategoryListView-CategoryColor {
  @include categories.category-card;

  padding: spacing.$sm;
}
